# ignore CMake stuff
CMake*
CTest*
Testing*
Makefile
*.cmake
!CMakeLists.txt

# ignore config files
.vscode

# ignore binaries
build/
*.exe
externals/libmt/*.a
externals/libmt/*.lib
externals/libmultivartest/*.a
externals/libmultivartest/*.lib
prog*
tests/test_mt*

# ignore log files
*.log

# ignore scripts
*.bat
*.sh
